<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @report.category.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @report.amount %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
